# Welcome to Google Colab

Colab is essentially Google's way of hosting a [jupyter notebook](https://jupyter.org/). A very popular tool to use as a data scientist!

It allows us to write code, documentation, and output visuals all in one place.

To be able to and edit the code in this workshop. Please make a copy for yourself

`file > save a copy in drive`

This should open a new tab with your own copy of this notebook. It can take a minute to load.

Colab comes with a lot of great data science libraries pre-installed. We'll show to start working with them in part-2 | [RSVP here](https://www.eventbrite.com/e/webinar-intro-to-python-part-2-tickets-101843474574).

Colab also gives you some options for running complicated computations such as training deep learning model. To see access those options:

`Runtime > change runtime type` Select `GPU`, `TPU`, or `None`

We don't need to change anything for this workshop, but its a great resource if you start learning deep learning and don't have a powerful GPU at home. 

This is a text cell. 

You can add a new text cell by clicking `+ Text` above. 

It does not highlight wrong spelling. I apologize for any typos!

# hello

### Code Cells

Below is a code cell. There is nothing in it right now.

To run a code cell click on it and then click the play button. Or press `shift+enter`

You can add new code cells by clicking the ` + Code ` button above

# Introduction to Python

Time for some actual programming!

### Printing

Everyone starts learning a new programming language by printing out the words "Hello, World!"

We're no expception! 

We will be using the `print()` function in this workshop a lot.

an indicator of a function is some text ending with `()`. We will cover functions and how to create our own in part 2. 

For now just know that we're passing a piece of data into another piece of code and its going to do something with it. 

In this case: Prints out the piece of data we passed in.

In [1]:
# prints hello
print("Hello Hello")

Hello Hello

In colab you can remove the code output by clicking on the icon to the left of it.

### Comments

Comments are a great way of documenting your code!

They don't affect the output.

You can create a comment using the `#`

In [3]:
# This is a comment. It will not do anything as code
# But it is super useful to document what your code is doing!

### Variables

Think variables as a way to store information. This is super useful! You can then receive or update the variable in your program. You'll see this later!

Think of it as naming a piece of data.

its common in programming languages to have a keyword before the variable such as var or int, but python does not need this.

In [2]:
twitter = "@sagecodes"

print(twitter)

twitter = "hello"

print(twitter)

@sagecodes
hello

#### Challenge:
Create a variable called `name` and assign it your name. Use the `print()` function to print out the variable value.

In [ ]:
# Write you Code Here!
name = "Sage"

print(name)

## Interact with users

Getting input from the command line can be useful (and fun).

To do that we will use the `input()` function. And we want to assign that input to a variable.

`guess = input("enter your guess ")`

In [3]:
input("Input: ")

Input:

''

In [4]:
# Assign input to a variable
data = input("enter some data: ")

print(data)

enter some data:

---
### Challenge:

Create a variable called `name` and ask a user for their name using the `input` function.

Print out the name.

In [ ]:
# Your code here!

name = input("Whats your name? ")
print(name)

Whats your name? Sage
Sage

### Data Types:

We're going to stick with the basics, so We wont be going over EVERY data type in Python, but you you can read a more comprehensive list [here](https://docs.python.org/3/library/stdtypes.html).  

Feel free to try these different data types out in your code!

#### Numbers:

Numbers are written just like you would think. Just the number! No quotes or symbols to worry about. If you do put quotes around a number it will become a string (see next)

`25` `100`

Multiple, Add, Divide, Compare, remainder

- `5 * 5` | output: 25
- `5 + 5` | output: 10
- `8 / 2` | output: 4
- `8 > 2` | output: true
- `8 % 8` | output: 0

In [ ]:
5 + 6

11

In [ ]:
print(5 * 5)
print(5 + 5)
print(5/2)
print(8 > 2)
print(8 % 8)

25
10
2.5
True
0

In [ ]:
print(5//2)

2

In [ ]:
5 + 5
5 /2

2.5

#### Strings:
Strings can be a collection of letters, symbols and/or numbers. They are made by surrounding the content with quotation marks.

`"Hello, World."`

`"CrAzy Random String 987879896jvdjvda &&(&(@*(*"`

Escape character `\` backslash can e used if you need a `'` in single quote string

In [ ]:
# common ways of defining a string. 
# make sure you begin and end with same quotation set


singlequote = 'A string im \' Single quotes!'
doublequote = "A string i'm \" Double quotes!"
triplequote = '''A string in ' " Triple quotes!'''

print(singlequote)
print(doublequote)
print(triplequote)

A string im ' Single quotes!
A string i'm " Double quotes!
A string in ' " Triple quotes!

In [ ]:
# If you're unsure what data will be in your string
# Triple quotes is the safest to use
# It will prevent a single or double quotation mark breaking the string

triplesafe = '''A string ' in 
" TLHLKHHL . 
LHLKHLK '
Triple single quotes!'''



print(triplesafe)

A string ' in
" TLHLKHHL .
LHLKHLK '
Triple single quotes!

In [ ]:
# Can we add strings together? Try it out!

string1 = "hello"
string2 = "world"

print(string1 + string2)

helloworld

##### Variables in strings

Often we will want to add in variables to a string. 

Imagine having someones name, age, etc... populate into a string depending on the user.

As you'll see below there are several ways of doing this!

In [ ]:
# Lets create some variables to work with
# Feel Free to change them or create your own!

name = "Alexa"
city = "Seattle"
career = "Programmer"
age = 40

##### Concatenation

You can add variables into string by breaking up the string into bits and adding a varible in between them. 

This gets pretty messy really fast. Its harder to change the sentence in the future, you have to add spaces at teh begining or or ends of strings. You have to convert numbers into strings if you want to use them.

In [ ]:

# concatenation 
concatstring =  "Hello, my name is " + name + ". I am " + career + " in " + city + ". I am " + str(age) + " years old."

print(concatstring)

Hello, my name is Alexa. I am Programmer in Seattle. I am 40 years old.

In [ ]:
# More common way
placeholderstring =  "Hello, my name is {}. I am a {} in {}. I am {} years old.".format(name, career, city, age)

print(placeholderstring)

Hello, my name is Alexa. I am a Programmer in Seattle. I am 40 years old.

In [ ]:
# you can specify which variable is used where
placeholderorder =  "Hello, my name is {2}. I am a {1} in {3}. I am {0} years old. {2}".format(name, career,city, age)

print(placeholderorder)

Hello, my name is Seattle. I am a Programmer in 40. I am Alexa years old. Seattle

In [ ]:
# Fstring
# My favorite way!

fstring = f"Hello, my name is {name}. I am a {career} in {city}. I am {age} years old. {age}"

print(fstring)

Hello, my name is Alexa. I am a Programmer in Seattle. I am 40 years old. 40

In [ ]:
# old way, don't use this. 
# showing because you may see it in the wild you know what its doing

var = 'variable'
print("This is the old way putting a %s in a string" % var)

This is the old way putting a variable in a string

---
### Challenge:

Using the `input()` function ask a user for there name. Then print out a sentence using the name.

In [ ]:
# Write you Code Here!
name = input("Whats your name? ")
print(f"Hello {name}")

In [4]:
print("hello \nSage")

hello
Sage

Read more about strings [here](https://www.w3schools.com/python/python_strings.asp).

#### Booleans:
You can think of Booleans as yes(true) and no(false)

`True` `False`

We'll go into how to use these in a little bit. For now just remember they exist!

In [ ]:
print("B" > "A")

True

#### Lists (Arrays)

Lists start and end with `[]`


used to store a list of values.

The values are stored at an index. Indexing in python starts at 0.

In [ ]:
tvshows = ['West World','Mr. Robot','Game of Thrones']
print(tvshows)

['West World', 'Mr. Robot', 'Game of Thrones']

In [ ]:
# print single item. Index starts at zero
print(tvshows[2])

Game of Thrones

In [ ]:
# Update an item in an array
print(tvshows[0])

tvshows[0] = "killer robots"

print(tvshows[0])

print(tvshows)

killer robots
killer robots
['killer robots', 'Mr. Robot', 'Game of Thrones', 'FireFly']

In [ ]:
# Add to an array
tvshows.append("FireFly")
print(tvshows)

['killer robots', 'Mr. Robot', 'FireFly', 'FireFly', 'FireFly', 'FireFly', 'FireFly', 'FireFly']

In [ ]:
# Remove from an array | Season 8 :(
tvshows.remove(tvshows[2])
print(tvshows)

['killer robots', 'Mr. Robot', 'FireFly', 'FireFly', 'FireFly']

In [ ]:
tvshows

['killer robots', 'Mr. Robot', 'FireFly', 'FireFly', 'FireFly']

In [ ]:
tvshows

['killer robots',
 'Mr. Robot',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly']

In [ ]:
tvshows.insert(1, "did this work")

In [ ]:
tvshows

['killer robots',
 'did this work',
 'Mr. Robot',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly',
 'FireFly']

In [ ]:
l = [2,1,3,4]

In [ ]:
l.sort()

In [ ]:
l

[1, 2, 3, 4]

Lists have a lot of functionality built in! You can read more about them [here](https://www.w3schools.com/python/python_lists.asp)

---
### Challenge:

- Make an empty list and assign to variable `fav_foods`
- add two items 
- print the 2nd item
- remove the first item

In [ ]:
# Make an empty list and assign to variable `fav_foods`
fav_foods = []

In [ ]:
# add one item
fav_foods.append("tacos")

In [ ]:
# add second item
fav_foods.append("steak")

In [ ]:
# print the 2nd item
print(fav_foods)

['tacos', 'steak']

In [ ]:
# remove first item
fav_foods.remove(fav_foods[0])
print(fav_foods)

['steak']

#### Tuples

Tuples start and end with `()`

Tuples behave a lot like lists, except you cannot change the values later in the code like we did in lists.

In [ ]:
tupleshows = ('West World','Mr. Robot', 'Game of Thrones')
print(tupleshows)

('West World', 'Mr. Robot', 'Game of Thrones')

In [ ]:
# cannot add value
tupleshows.append("FireFly")

AttributeError: ignored

#### Dictionary (Dict)

Dictionaries start and end with `{}`

Dictionaries are used to store values in a whats called a key value pair format

`{ key: value }`

In [ ]:
dictionary = {"key":"value"}

In [ ]:
print(dictionary["key"])

value

In [ ]:
# a Dictionary with multiple key value pairs 
person =	{
  "name": "",
  "age": 50,
  "occupation": 'programmer'
}

# print(person)
print(person['occupation'])

programmer

In [ ]:
# Update
print(person['name'])

person['name'] = input("whats your name? ")

print(person['name'])

whats your name? Sage
Sage

In [ ]:
print(person)

{'name': 'Sage', 'age': 50, 'occupation': 'programmer'}

In [ ]:
# add 
person['city'] = 'Seattle'  
print(person)

{'name': 'Sage', 'age': 50, 'occupation': 'programmer', 'city': 'Seattle'}

In [ ]:
# Remove
del person['age']
print(person)

{'name': 'Sage', 'occupation': 'programmer', 'city': 'Seattle'}

read more about python dictionaries [here](https://www.w3schools.com/python/python_dictionaries.asp).

---
### Challenge:


- Make a dictionary {} with key values pairs. `name`, `age`, an d `city`.
- Print out the name and city values. 

Feel free to mess around more! try adding or updating items

In [ ]:
# Make a dictionary {} with key values pairs. name, age, an d city.
person = {"name":"Sage",
          "age":29,
          "city":"Seattle"}

In [ ]:
# Print out the name and city values.

print(person["name"])
print(person["city"])

Sage
Seattle

### Lists + Dicts

In [ ]:
# Access a dict inside a list:

lis = [{'name': "sage", 'city': "Seattle"}, {'name': "Amanda", 'city': "New York"}, {'name': "Albert", 'city': "Chicago"}]

print(lis[2]['city'])

Chicago

In [ ]:
# Access a list inside of a dict:
profile = {'name': "Sage", 'fav_shows': ['West World','Mr. Robot', 'Game of Thrones']}

print(profile['fav_shows'][1])

Mr. Robot

---
### QUIZ:

- What type of data would age be?
- What type of data would a name be?
- What type of data would a list of foods be?
- What type of data would we use to store a profile of a user?
- What type of data could we use for yes or no?
- what type of data should a zip-code be?

check data type with `type` function

## Comparison Operators:
Comparison Operators are used quite frequently in programming. Its a great way to compare and use data to make descisions.

Again we won't cover ALL of the comparison operators in this workshop, but you can see a full list of them [here](https://docs.python.org/3/library/stdtypes.html#comparisons)

- `==` Equal
- `!=` Not Equal
- `>` Greater Than
- `>=` Greater Than or Equal
- `<` Less Than
- `<=` Less Than or Equal

Example:

`current_score >= highest_score`
This would return a boolean value. Depending on the values of these variables this would return either `True` or `False`. Try it in your console using numbers instead of variables!

In [ ]:
print(8 == 8)
print(8 != 8)
print(8 > 2)
print(8 >= 8)
print(8 < 12)
print(8 <= 8)

True
False
True
True
True
True

## Spacing
most of the upcoming examples you'll see parts of the code indented.
This lets python know when blocks of code begin & end. I'll explain as we go through examples. Just remember that spacing is important and it can cause issues with your code working.

## Conditionals

When writing a program you'll often want to check if data meets a certain condition or not. We can use conditionals to make decision about our data and create different outcomes

 In javascript you'll often use the `if` statement. This may be followed by `else if` or `else` depending on how many conditions need to be checked.

Example:

In [ ]:
guess = 9
answer = 5

if guess == answer:
  message = "You Win!"
elif guess < answer:
  message = "Your guess is too low!"
elif guess > answer:
  message = "your guess is too high!";
else:
    message = "I think you entered something wrong..."
    
print(message)

your guess is too high!

### Multiple Conditionals

Use the keyword `and` or `or` between muliple conditionals. 

`or` if you want to run code when either condition is met

`if i == 0 or i == 1:`

`and` if you want to run the code when all conditions are met.

`if i == 0 and x == 4:`

In [ ]:
i = 0
x = 6

if i == 1 or x == 6:
  message = "If ran"
else:
  message = "Else ran"
  
print(message)

If ran

In [ ]:
i = 0
x = 7

if i == 0 and x == 4:
  message = "If ran"
else:
  message = "Else ran"
  hshs
  ljskl
  
print(message)

IndentationError: ignored

### challenge

- make a variable with with a numerical value. 
- using the `if`, `elif`, and `else` make your program print something different depending on the value in your variable.

In [ ]:
# your code here:

## Loops
We're going to go over some of the basic loops in python, but yet again we're not going to cover everything, so you may want to read more about loops [here](https://www.learnpython.org/en/Loops).

Loops are used when you want to repeat something. You can repeat the exact same thing, or change some variable and repeat the action again.

the two common types of loops are `for` and `while`.
`for` loops are often used to run a loop a specified amount of time.

`while` loops are often used to run a loop indefinitely until certain criteria are met.

For loops:

In [ ]:
#This `for` loop will run 5 times, and print out the value of `x` to the console. 

for bumber in range(5):
    print(bumber)

0
1
2
3
4

For loops are often used to loop through variables containing lists and dicts to get the individual values stored in them. We'll look at this soon!

read more on for loops [here](https://www.w3schools.com/python/python_for_loops.asp)

while loop:

In [ ]:
count = 1

while count <= 5:
    print(count)
    count += 1  # This is the same as count = count + 1

1
2
3
4
5

In [ ]:
pw = 'password'
user_input = ''

while user_input != pw:
    user_input = input("Enter the correct password: ")

print("you entered the right password")

Enter the correct password: hello
Enter the correct password: e
Enter the correct password:
Enter the correct password: f
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password: f
Enter the correct password:
Enter the correct password:
Enter the correct password:
Enter the correct password: f
Enter the correct password: password
you entered the right password

read more on while loops [here](https://www.w3schools.com/python/python_while_loops.asp)

### challenge
[Fizzbuzz](https://en.wikipedia.org/wiki/Fizz_buzz) and variations of it is a popular interview question. 

"From 1 to 100.

For each multiple of 3, print "Fizz" instead of the number. 

For each multiple of 5, print "Buzz" instead of the number. 

For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number."

Lets break it down and solve it together!

In [ ]:
# Lets do fizzbuzz!
# How should break down this problem and start?

# One hint: We're going to use range() function that will help us say how many times we want to iterate over something

for num in range(1,101):
  if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
  elif num % 5 == 0:
    print("Buzz")
  elif num % 3 == 0:
    print("fizz")
  else:
    print(num)

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
FizzBuzz
16
17
fizz
19
Buzz
fizz
22
23
fizz
Buzz
26
fizz
28
29
FizzBuzz
31
32
fizz
34
Buzz
fizz
37
38
fizz
Buzz
41
fizz
43
44
FizzBuzz
46
47
fizz
49
Buzz
fizz
52
53
fizz
Buzz
56
fizz
58
59
FizzBuzz
61
62
fizz
64
Buzz
fizz
67
68
fizz
Buzz
71
fizz
73
74
FizzBuzz
76
77
fizz
79
Buzz
fizz
82
83
fizz
Buzz
86
fizz
88
89
FizzBuzz
91
92
fizz
94
Buzz
fizz
97
98
fizz
Buzz

## Iterating

Now that we know about loops lets talk a bit more about iteration! 

Many objects may have data we want to iterate through to do something with it. Common iterables: Strings, Lists, Dicts, tuples.

In [ ]:
#lists:

tvshows = ['West World','Mr. Robot', 'Game of Thrones']

for x in tvshows:
	print(x)

West World
Mr. Robot
Game of Thrones

In [ ]:
# String

word = "hello"

for x in word:
	print(x)

h
e
l
l
o

In [ ]:
#Dictionaries 

person =	{
  "name": "Bob",
  "age": 50,
  "occupation": 'programmer'
}

# get the values
for x in person:
	print(person[x])

Bob
50
programmer

In [ ]:
# get the keys from dict
for x in person:
	print(x)

name
age
occupation

In [ ]:
person.keys()

dict_keys(['name', 'age', 'occupation'])

## Slicing

We won't go too deep into this in this workshop but I want to introduce the idea of slicing.

This can be used to access specific indexes of sequences like strings, and lists.

In [ ]:
string = "batman"

In [ ]:
# instead of only accesing one value string[0]
# We can access a range of values
print(string[3:6])

man

In [ ]:
array = ['hulu','netflix','HBO','Disney']

In [ ]:
print(array[0:3])

['hulu', 'netflix', 'HBO']

### Guessing game

Another example of putting things together

In [ ]:
import random # we will cover importing libraries in next class!

number = random.randint(1, 10)
guess_count = 1
guesses = 5


# start while 
while True:
  
  guess = int(input("Guess the random number between 1 & 10: "))
  
  if guess == number:
    print("You got it! Great job!")
    break
  
  elif guess_count == 5:
    print("you lose")
    break

  elif guess < number:
    print("Try something higher... you have {} guesses remaining!".format(guesses - guess_count))
    guess_count = guess_count + 1

  elif guess > number:
    print("Try something lower... you have {} guesses remaining!".format(guesses - guess_count))
    guess_count = guess_count + 1

What are some ideas for improvements? 

- Exit on command (look up `break` and python)
- data validation
- input the number range from user
- output grammar depending on number of tries

# Whats next?

### Keep Learning:
The most important thing to do it keep learning!
- [RSVP for Intro to Python part 2](https://www.eventbrite.com/e/webinar-intro-to-python-part-2-tickets-101843474574)
- [How to Build a Dashboard in Python](https://www.eventbrite.com/e/how-to-build-a-dashboard-in-python-live-online-tickets-100315145300)
- [Data Science Prep Course](https://www.galvanize.com/data-science/prep)
- [W3School](https://www.w3schools.com/python/) 

See all upcoming Galvanize online events [here](https://www.hackreactor.com/webinars)

### Come challenge ideas:
- Install python locally (look into using anaconda)
- Use jupyter notebook
- Try re-doing fizzbuzz from memory
- Make updates to that guessing game above


### Stay Connected:
- Linkedin: [https://www.linkedin.com/in/sageelliott/](https://www.linkedin.com/in/sageelliott/)
- twitter: [@sagecodes](https://twitter.com/sagecodes)
- email: sage.elliott@galvanize.com